<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.ExpensesMapper">
	<insert id="insertExpenses">
		<selectKey resultType="int" keyProperty="exNo" order="BEFORE">
			select expenses_seq.nextval from dual
		</selectKey>
		insert into expenses values(#{exNo}, #{exDate}, #{exCash}, #{exCard}, #{exAcname}, #{exCate}, #{exMemo}, #{exId})
	</insert>
	
	<update id="updateExpenses">
		update expenses set ex_date=#{exDate}, ex_cash=#{exCash}, ex_card=#{exCard}, ex_acname=#{exAcname}
		, ex_cate=#{exCate}, ex_memo=#{exMemo}, ex_id=#{exId} where ex_no=#{exNo}
	</update>
	
	<delete id="deleteExpenses">
		delete from expenses where ex_no=#{exNo}
	</delete>
	
	<delete id="deleteCashCardExpenses">
		delete from expenses where ex_cash = 0 and ex_card = 0
	</delete>

	<select id="selectSumExpenses" resultType="Integer">
		select sum(ex_card+ex_cash) from expenses where ex_cate=#{exCate}
	</select>

	<select id="selectSumAllExpenses" resultType="Integer">
		select sum(ex_cash)+sum(ex_card) from expenses
	</select>
	
	<select id="selectExpenses" resultType="Expenses">
		select * from expenses where ex_no=#{exNo}
	</select>
	
	<select id="selectExpensesList" resultType="Expenses">
		select * from expenses order by ex_date desc
	</select>
	
	<select id="selectExpensesIdList" resultType="Expenses">
		select * from expenses where ex_id = #{exId} order by ex_date desc
	</select>
	
	<select id="selectExpensesDateIdList" resultType="Expenses" >
		select * from expenses where ex_date = #{exDate} and ex_id = #{exId } order by ex_date desc
	</select>
	
</mapper>